# Ignorer les fichiers/dossiers sensibles ou inutiles

# Environnement virtuel
.venv/
env/

# Fichiers système
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Fichiers d'environnement sensibles
.env

# Sorties temporaires
output/
*.log

# Docker
*.pid
*.sock
docker-compose.override.yml

# VSCode settings (si tu utilises)
.vscode/

# Dossiers de build
build/
dist/
*.egg-info/
